<div class="container text-center">
    {% for product in products %}
        <a style=" text-decoration: none;" class="text-dark" href="{% url 'producto' product.id %}">
                <div class="row border border-1 p-1 m-2 align-items-center justify-content-center cols-3">
                    <div class="col-3">
                        <img style="max-height: 50px; max-width: 50px;" src="{{product.image.url}}" alt="">
                    </div>
                    <div class="col-2">
                        [{{product.i_d}}]
                    </div>
                    <div class="col-6">
                        {{product.name}}
                    </div>
                </div>
        </a> 
    {% endfor %}
</div>
    