<div class="container mb-3 ">
    
        
    <table class="table table-dark text-center shadow p-3  mb-0 rounded ">
        <thead>
        <tr>   
        
        </tr>
        </thead>   
        <tbody >  
            {% for movement in movements %}
                <tr >
                    <th scope="row ">
                        <a style="text-decoration: none;" class="text-light" data-bs-toggle="collapse" href="#collapseMovement{{movement.id}}" role="button" aria-expanded="false" aria-controls="collapseMovement{{movement.id}}">
                            <div class="row justify-content-center">
                                <div class="col-8 h6">
                                    {{movement.get_type_display}}
                                </div>
                                <div class="col-4 h6">  
                                    {% if movement.type == "CP" or movement.type == "RP" or movement.type == "eP" %}
                                        {{movement.product.name}}
                                    {% else %}
                                        {{movement.lot}}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        <div class="collapse" id="collapseMovement{{movement.id}}">
                            <div class="card card-body m-1 ">
                                <div class="continer text-dark">
                                    
                                    
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-4 m-2 h6">
                                            Operacion: 
                                        </div>
                                        <div class="col-6 m-2 h6">
                                            {{movement.get_type_display}}
                                        </div>
                                        
    
                                        {% if not ProductPage and movement.product %}
                                            <div class="col-4 m-2 h6">
                                                Producto: 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                <a style="text-decoration:none" class="text-dark border border-2 px-2 py-1 h6 "  href="{% url 'producto' movement.product.id %}">
                                                    {{movement.product.name}}
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if movement.type == "EP" %}
                                            <div class="col-4 m-2 h6">
                                                Cantidad Agregada: 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {{movement.lot}} 
                                                {% if movement.extra_info_int == 1 %} 
                                                    Pares 
                                                    {% if  movement.extra_info_int_1 != 0  %}
                                                        + {{movement.extra_info_int_1}} Unidades
                                                    {% endif %}
                                                {% else %}
                                                    Unidades
                                                {% endif %}
                                                
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                Confirmado: 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {% if movement.extra_info_bool == True %}
                                                    <span class="text-success h6">Si</span> 
                                                {% else %}
                                                    <span class="text-danger h6">No</span>
                                                {% endif %}
                                            </div>
                                        {% elif movement.type == "CP" %}
                                            <div class="col-4 m-2 h6">
                                                Nombre: 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {{movement.product.name}}
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                Informacion: 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {% autoescape off %}
                                                    {{movement.extra_info_str}}
                                                {% endautoescape %}
                                            </div>
                                            
                                            
                                        {% elif movement.type == "SP" %}
                                            <div class="col-4 m-2 h6">
                                                Cantidad Quitada: 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {{movement.lot}}
                                            </div>      
                                        {% elif movement.type == "RD" %}
                                            <div class="col-4 m-2 h6">
                                                Cantidad Retirada: 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {{movement.lot}}$
                                            </div>
                                        {% elif movement.type == "AD" %}
                                            <div class="col-4 m-2 h6">
                                                Cantidad Agregada: 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {{movement.lot}}$
                                            </div>
                                        {% elif movement.type == "eP" %}    
                                            <div class="col-4 m-2 h6">
                                                Cambios: 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {% autoescape off %}
                                                    {{movement.extra_info_str}}
                                                {% endautoescape %}
                                            </div>   
                                        {% elif movement.type == "VP" %}
                                            <div class="col-4 m-2 h6">
                                                Tipo Venta
                                            </div>
                                            {% if movement.product.pair %}
                                                <div class="col-6 m-2 h6">
                                                    Por Pares  
                                                </div>
                                            {% else %}
                                                <div class="col-6 m-2 h6">
                                                    Por Unidad  
                                                </div>
                                            {% endif %}
                                            <div class="col-4 m-2 h6">
                                                Cantidad Vendida: 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {{movement.lot}}
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                Dinero Recaudado: 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {% widthratio movement.extra_info_int 1 movement.lot %}$
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                Pago a Trabajador: 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {% widthratio movement.extra_info_int_1 1 movement.lot %}$
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                Precio Vigente por 
                                                {% if movement.extra_info_bool %}
                                                    Par
                                                {% else %}
                                                    Unidad
                                                {% endif %}
                                                : 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {{movement.extra_info_int}}$
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                Precio Vigente para Pago a Trabajador por 
                                                {% if movement.extra_info_bool %}
                                                    Par
                                                {% else %}
                                                    Unidad
                                                {% endif %}
                                                : 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {{movement.extra_info_int_1}}$
                                            </div> 
                                            
                                        {% elif movement.type == "rP" %}
                                            {% comment %} <div class="col-4 m-2 h6">
                                                Tipo Reembolso 
                                            </div>
                                            {% if movement.product.pair %}
                                                <div class="col-4 m-2 h6">
                                                    Por Pares  
                                                </div>
                                            {% else %}
                                                <div class="col-4 m-2 h6">
                                                    Por Unidad  
                                                </div>
                                            {% endif %}
                                            <div class="col-4 m-2 h6">
                                                Cantidad Reembolsada: 
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                {{movement.lot}}
                                            </div>
                                            
                                            <div class="col-4 m-2 h6">
                                                Precio por 
                                                {% if movement.extra_info_bool %}
                                                Par
                                                {% else %}
                                                Unidad
                                                {% endif %}
                                                : 
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                {{movement.extra_info_int}}$
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                Ganancia por 
                                                {% if movement.extra_info_bool %}
                                                Par
                                                {% else %}
                                                Unidad
                                                {% endif %}
                                                : 
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                {{movement.extra_info_int_1}}$
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                Importe Reembolsado: 
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                {% widthratio movement.extra_info_int 1 movement.lot %}$
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                Ganancia Reembolsado: 
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                {% widthratio movement.extra_info_int_1 1 movement.lot %}$
                                            </div> {% endcomment %}
                                        {% elif movement.type == "RP" %}
                                            {% comment %} None {% endcomment %}
                                        {% elif movement.type == "cP" %}
                                            <div class="col-4 m-2 h6">
                                                Proucto Confirmado 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {{movement.product.name}}
                                            </div>
                                            <div class="col-4 m-2 h6">
                                                Cantidad Confirmada: 
                                            </div>
                                            <div class="col-6 m-2 h6">
                                                {{movement.lot}}
                                                {% if movement.extra_info_int == 1 %}
                                                    Pares
                                                {% elif movement.extra_info_int == 0 %}
                                                    Unidades
                                                {% else %}
                                                    Pares + {{movement.extra_info_int_1}} Unidades
                                                        
                                                {% endif %}
                                                    
                                                
                                            </div>
                                        {% endif %}
                                        {% if movement.extra_info_str  %}
                                            {% if movement.type != "eP" and movement.type != "CP" %}
                                                <div class="col-4 m-2 h6">
                                                    Nota: 
                                                </div>
                                                <div class="col-6 m-2 h6">
                                                    {{movement.extra_info_str}}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="col-4 m-2 h6">
                                            Usuario: 
                                        </div>
                                        <div class="col-6 m-2 h6">
                                            {{movement.user}}
                                        </div>
                                        <div class="col-4 m-2 h6">
                                            Id de Operacion: 
                                        </div>
                                        <div class="col-6 m-2 h6">
                                            {{movement.id}}
                                        </div>
                                        <div class="col-4 m-2 h6">
                                            Fecha: 
                                        </div>
                                        <div class="col-6 m-2 h6">
                                            {{movement.date}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
                {% empty %}
                <div class="text-bg-dark p-5 m-5  d-flex justify-content-center"><h2>No hay Operaciones para mostrar<h2></div>     
            {% endfor %}
        </tbody>
    </table>   
        
</div>

