{% extends 'Base.html' %}
{% load static %}
{% block contenido %}
    {% if user.is_admin %}
        <div class="continer-md">
            {% comment %} =================  Buttons Money ==================== {% endcomment %}
            {% if  user.is_admin  %}
                <div class="container ">
                    <div class="row my-4 justify-content-around">
    
                        <div class="col-6 w-auto m-3 ">
                            <button type="button" class="btn btn-success p-3 "  style="border-radius: 20px;" data-bs-toggle="modal" data-bs-target="#AgregateModal" data-bs-whatever="@AGrDin"><span class="h4"> Agregar Dinero</span></button>     
                            <div class="modal fade" data-bs-backdrop="static" id="AgregateModal" tabindex="-1" aria-labelledby="AgregateModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="AgregateModalLabel">Agregar Dinero</h1>
                                            <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" action="">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div class="form-floating mb-3">
                                                        <input required type="text" class="form-control" name="cantidad" id="floatingInput" placeholder="Nombre">
                                                        <label for="floatingInput">Cantidad</label>
                                                    </div>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <textarea  type="text" class="form-control" maxlength="100" name="nota" id="floatingInput" placeholder="Nota Adicional"  style="height: 100px;"></textarea >
                                                    <label for="floatingInput">Nota Adicional</label>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    <input class="btn btn-warning" type="submit" name="AgregateMoney" value="Agregar">
                                                </div>
                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-6 w-auto m-3 ">
                            <button type="button" class="btn btn-success p-3 " style="border-radius: 20px;" data-bs-toggle="modal" data-bs-target="#RetirarModal" data-bs-whatever="@RetDin"><span class="h4"> Retirar Dinero </span></button>     
                            <div class="modal fade" data-bs-backdrop="static" id="RetirarModal" tabindex="-1" aria-labelledby="RetirarModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="CrearModalLabel">Retirar Dinero</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" action="">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div class="form-floating mb-3">
                                                        <input required type="text" class="form-control" name="cantidad" id="floatingInput" placeholder="Nombre">
                                                        <label for="floatingInput">Cantidad</label>
                                                    </div>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <textarea  type="text" class="form-control" maxlength="100" name="nota" id="floatingInput" placeholder="Nota Adicional"  style="height: 100px;"></textarea >
                                                    <label for="floatingInput">Nota Adicional</label>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    <input class="btn btn-warning" type="submit" name="RetireMoney" value="Retirar">
                                                </div>
                                            </form>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            {% endif %}
            <div class="continer my-2 mx-5 w-3">
                {% comment %} <table class="table table-dark centrado shadow p-3 mb-5 bg-body-tertiary rounded">
                    <thead>
                    <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio Vigente</th>
                        <th scope="col">$</th>
                        <th scope="col">Fecha</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% for movement in movements %}
                    <tr>
                        <td>{{movement.get_type_display}}</td>
                        
                            {% if movement.type == "VP" or movement.type == "rP" %}
                                <td>
                                    <a class="link-light h4 fill" style=" text-decoration: none;" href="{% url 'producto' movement.product.id %}">
                                        <span class="badge bg-secondary w-100" >
                                            {{movement.product.name}}
                                        </span>
                                    </a>
                                </td>
                                <td>{{movement.lot}}</td>
                                <td>{{movement.price}}$</td>
                                <td>{% widthratio movement.price 1 movement.lot %}$</td>
                            {% elif movement.type == "RD" %}
                                <td>-</td>
                                <td>{{movement.lot}}</td>
                                <td>-</td>
                                <td>-</td> 
                            {% endif %}
                        <td>{{movement.date}}</td>
                        
                    </tr>
                    {% endfor %}
                    </tbody>
                </table> {% endcomment %}
                {% comment %} =================  Info Caja ==================== {% endcomment %}
                <div class="row cols-1 justify-content-center align-items-center m-3">
                    <div class="col-7 col-md-3 ">
                        <div class="card bg-warning text-center p-2 ">
                            <div class="card-body">
                              <h4 class="card-title h5">Dinero Total en Caja</h4>
                              <p class="card-text text-success h4">{{global_context.registe_cash.money}}$</p>
                            </div>
                          </div>
                          <br>
                    </div>
                </div>
                {% comment %} <div class="row cols-1 justify-content-center align-items-center m-3">
                    <div class="col-11 w-auto">
                        <div class="card bg-warning text-center p-2 w-auto">
                            <div class="card-body">
                            <h4 class="card-title h5">Dinero Obtenido por Ventas Directas por {{user.username}}</h4>
                            <p class="card-text text-success h4">{{user.money}}$</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    
                </div> {% endcomment %}
                {% comment %} <div class="row cols-1 justify-content-center align-items-center m-3">
                    {% if user.is_worker %}

                        <div class="col-11  w-auto">
                            <div class="card bg-warning text-center p-2 w-auto">
                                <div class="card-body">
                                <h4 class="card-title h5">Dinero de {{user.username}} en Caja</h4>
                                <p class="card-text text-success h4">{{user.money}}$</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    
                </div> {% endcomment %}
                <div class="display-2 my-3 text-center">  Operaciones con la Caja </div>
                {% comment %} =================  TABLE MOVEMENTS ==================== {% endcomment %}
                
                {% include 'BaseMovementsTable.html' %}
                    
            </div>
        </div>
    {% else %}
        <meta http-equiv="Refresh" content="0; url='{% url 'home' %}'" />
    {% endif %}

{% endblock  %}