{% extends 'Base.html' %}
{% block contenido %}
{% load static %}
{% if user.is_admin %}
    <div class="container">
        
        <div class="row justify-content-around">
            <div class="col-auto ">
                <h1 class="display-2">{{category.name}}</h1>
            </div>
            <div class="col-auto">

            </div>
            <div class="col-auto mt-2">
                <div class="d-flex">
                    <div class="dropdown me-1">
                        <button type="button" class="btn btn-light dropdown-toggle" id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                            </svg>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                            <li>
                            <a class="dropdown-item"data-bs-toggle="modal" data-bs-target="#modalCreateSubCategory">Crear Sub Categoria</a>
                            <a class="dropdown-item"data-bs-toggle="modal" data-bs-target="#EditModal">Editar Categoria</a>
                            
                            {% if not subcategorys %}
                                <a class="dropdown-item"data-bs-toggle="modal" data-bs-target="#EliminateModal">Eliminar Categoria</a>
                            {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        {% comment %} ==============MODALS================ {% endcomment %}
        {% comment %} MODAL CREATE SUBCATEGORY {% endcomment %} 
        <div class="modal fade" id="modalCreateSubCategory" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalCreateSubCategory" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="CrearModalLabel">Nueva Sub Categoría</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" maxlength="30" required name="name" id="floatingInput" placeholder="Nombre">
                                    <label for="floatingInput">Nombre</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <input class="btn btn-success" type="submit" name="CrearSubCategoría" value="Crear">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} MODAL EDIT CATEGORY {% endcomment %}
        <div class="modal fade" id="EditModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="EditModalLabel">Editar {{category.name}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-floating mb-3">
                                <input required type="text" maxlength="30" class="form-control" name="name" id="floatingInput" placeholder="Nombre" value="{{category.name}}">
                                <label for="floatingInput">Nombre</label>
                            </div>
                        </div>
                        <div class="row justify-content-around m-2">
                            <div class="col-auto">
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <input type="reset" class="btn btn-secondary" data-bs-dismiss="modal" value="Cancelar">   
                                    </div>
                                </div>    
                            </div>
                            <div class="col-auto">
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <input class="btn btn-warning" type="submit" name="EditCategory" value="Editar">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
        {% comment %} MODAL ELIMINATE CATEGORY {% endcomment %}
        <div class="modal fade" id="EliminateModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="EliminateModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="EliminateModalLabel">Eliminar {{category.name}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="h3 text-center">
                                Elminar {{category.name}}?
                            </div>
                        </div>
                        <div class="row justify-content-around m-2">
                            <div class="col-auto">
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <input type="reset" class="btn btn-secondary" data-bs-dismiss="modal" value="Cancelar">   
                                    </div>
                                </div>    
                            </div>
                            <div class="col-auto">
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <input class="btn btn-danger" type="submit" name="EliminateCategory" value="Eliminar">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
        
        <h1 class="display-4 text-center my-4 ">Sub Categorías</h1>
        <div class="row justify-content-center">
            <div class="col-12">

                
                <div class="row justify-content-center my-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row justify-content-around align-items-center">
                                    {% for subcategory in subcategorys %}
                                        <a class="link-dark" style=" text-decoration: none;" href="{% url 'subcategoria' category.id subcategory.id %}">                                           
                                            
                                            {% if forloop.counter != 1  %}
                                                <hr>
                                            {% endif %}
                                            <div class="col-12">
                                                <div class="row justify-content-center ">
                                                    <div class="col-auto">
                                                        <div class="h3 text-center">{{subcategory.name}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </a>
                                        {% empty %}
                                        <div class="col-12 text-center">
                                            <div class="h3">
                                                No Existen Sub Categorías
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
            
        </div>
    </div>
{% else %}
    <meta http-equiv="Refresh" content="0; url='{% url 'home' %}'" />
{% endif %}
{% endblock  %}
{% block script_js %}
    <script type="text/javascript" src="{% static 'js/base_prev_img.js' %}" ></script>
{% endblock  %}