{% extends 'Base.html' %}
{% load static %}
{% block contenido %}
  <div class="display-1 my-3 text-center">  Stickers </div>
  {% if not user.is_authenticated %}
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="p-3 px-5 m-3 alert alert-warning alert-dismissible fade show m-2 p-2 text-center" role="alert">
          <div class="h5">
            <strong>
              Inicio de Sesion
            </strong>
        </div>
        <div class="h6">
          No se ha iniciado sesion , pulse <br>
          <span style="border-radius: 60px;" class="mx-auto my-auto badge bg-success p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <svg  width="18" height="18" fill="currentColor" class="h6 d-block mx-auto bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
              Ingresar
          </span>
          <br>
          para iniciar la sesion
        </div> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>     

      <div class="row justify-content-center">
        <a type="button" href="{% url 'tienda' %}"  style="border-radius: 20px;" class="px-5 m-5 btn btn-primary w-auto"><span class="h1"> Ir a la Tienda </span></a>
      </div>  
      
  {% else %}
    <div class="container">
      <div class="d-none d-md-block sticky-top" style="top: 100px;">
        <div class="row justify-content-end align-items-center text-center " >
          <div class="col-5 col-md-2">
            <div class="card bg-warning text-dark " style="border-radius: 30px;" >
              <div class="card-body w-auto">
                <h4 class="card-title h5">Dinero en Caja</h4>
                <div class="row"></div>
                <p class="card-text  text-success h3">{{global_context.registe_cash.money}}$</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-block d-md-none sticky-top" style="top: 70px;">
        <div class="row justify-content-end align-items-center text-center">
          <div class="col-4 col-md-2">
            <div class="card bg-warning text-dark " style="border-radius: 30px;" >
              <div class="card-body w-auto p-0 m-0">
                <div class="card-title p-0 m-0"><span class="h6 p-0 m-0 text-muted"><small>Dinero en Caja</small></span> </div>
                
                <p class="card-text text-success h5">{{global_context.registe_cash.money}}$</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="display-3 my-3 text-center">  Resumen </div>
      {% comment %} Mini Resumen {% endcomment %}
     
      <div class="container text-center">
        
        <a class="text-dark" style="text-decoration: none;" data-bs-toggle="collapse" href="#contentToday" aria-expanded="false" aria-controls="contentToday">
          <div class="display-5 mt-3 ">Hoy</div>
          <div class="h6 mb-3 "><small>({{context.context_today.today}})</small></div>
        </a>
        <hr>
        <div class="collapse show" id="contentToday">
          <div class="row cols-1  cols-md-3 justify-content-center">
            <div class="col-5 col-md-3 mb-2">
              <div class="card text-dark bg-light h-100">
                <div class="card-body"> 
                  <h4 class="card-title h5">Ingresos</h4>
                  <hr>
                  <p class="card-text h3 text-success ">{{context.context_today.total_money}}$</p>
                </div>
              </div>

            </div>
            <div class="col-5 col-md-3 mb-2">

              <div class="card text-dark bg-light h-100">
                <div class="card-body"> 
                  <h4 class="card-title h5">Trabajador</h4>
                  <hr>
                  <p class="card-text h3 text-success ">{{context.context_today.total_worker_profit_money}}$</p>
                </div>
              </div>

            </div>
            {% if user.is_admin %}
              <div class="col-5 col-md-3 mb-2">
                
                <div class="card text-dark bg-light h-100">
                  <div class="card-body"> 
                    <h4 class="card-title h5">Ganancia</h4>
                    <hr>
                    <p class="card-text h3 text-success ">{{context.context_today.total_profit_money}}$</p>
                  </div>
                </div>

              </div>
            {% endif %}
            <div class="col-12">
              <div class="card text-dark bg-light" style="border-radius: 50px;">
                <a class="text-dark" style="text-decoration: none;" data-bs-toggle="collapse" href="#contentProdIdHoy" aria-expanded="false" aria-controls="contentId">
                  <div class="card-body"> 
                    <h4 class="card-title h5">Productos Vendidos</h4>
                  </div>
                </a>
                <div class="collapse" id="contentProdIdHoy">
                  {% if context.context_today.products %}
                    <div class="table-responsive-md pb-4">
                      <table class="table table-light">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nomb.</th>
                            <th scope="col">Cant.</th>
                            <th scope="col">Impr.</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for product in context.context_today.products.values %}
                            <tr class="">
                              <td scope="row">{{product.i_d}}</td>
                              <td>{{product.name}}</td>
                              <td>{{product.lot}} {% if product.Refund %}<span class="text-danger">-R</span>{% endif %} </td>
                              <td>{{product.money}}$ {% if product.Refund %}<span class="text-danger">-R</span>{% endif %}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  {% else %}
                    <div class="h2">No hay productos vendidos</div>
                  {% endif %}
                </div>

              </div>
            </div>
          </div>
          <hr>
        </div>

        {% if global_context.summary_date.active %}
          <a class="text-dark" style="text-decoration: none;" data-bs-toggle="collapse" href="#contentThisWeek" aria-expanded="false" aria-controls="contentThisWeek">
            <div class="display-5 mt-3 ">  Esta Semana</div>
            <div class="h6 mb-3 "><small>({{context.context_this_week.this_week}}/{{context.context_this_week.total_weeks}})</small></div>
          </a>
          <hr>
          <div class="collapse" id="contentThisWeek">      
            <div class="row cols-1  cols-md-3 justify-content-center">
              <div class="col-5 col-md-3 mb-2">
                <div class="card text-dark bg-light h-100">
                  <div class="card-body"> 
                    <h4 class="card-title h5">Dinero Obtenido</h4>
                    <hr>
                    <p class="card-text h3 text-success ">{{context.context_this_week.total_money}}$</p>
                  </div>
                </div>
    
              </div>
              <div class="col-5 col-md-3 mb-2">
    
                <div class="card text-dark bg-light h-100">
                  <div class="card-body"> 
                    <h4 class="card-title h5">Pago a Trabajador</h4>
                    <hr>
                    <p class="card-text h3 text-success ">{{context.context_this_week.total_worker_profit_money}}$</p>
                  </div>
                </div>
    
              </div>
              {% if user.is_admin %}
                <div class="col-5 col-md-3 mb-2">
                  
                  <div class="card text-dark bg-light h-100">
                    <div class="card-body"> 
                      <h4 class="card-title h5">Ganancia </h4>
                      <hr>
                      <p class="card-text h3 text-success ">{{context.context_this_week.total_profit_money}}$</p>
                    </div>
                  </div>
    
                </div>
              {% endif %}
              <div class="col-12">
                <div class="card text-dark bg-light" style="border-radius: 50px;">
                  <a class="text-dark" style="text-decoration: none;" data-bs-toggle="collapse" href="#contentIdProdSemana" aria-expanded="false" aria-controls="contentIdProdSemana">
                    <div class="card-body"> 
                      <h4 class="card-title h5">Productos Vendidos</h4>
                    </div>
                  </a>
                  <div class="collapse" id="contentIdProdSemana">
                    {% if context.context_this_week.products %}
                      <div class="table-responsive-md pb-4">
                        <table class="table table-light">
                          <thead>
                            <tr>
                              <th scope="col">Id</th>
                              <th scope="col">Producto</th>
                              <th scope="col">Cantidad</th>
                              <th scope="col">Importe</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for product in context.context_this_week.products.values %}
                              <tr class="">
                                <td scope="row">{{product.i_d}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.lot}} {% if product.Refund %}<span class="text-danger">-R</span>{% endif %} </td>
                                <td>{{product.money}}$ {% if product.Refund %}<span class="text-danger">-R</span>{% endif %}</td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    {% else %}
                      <div class="h2">No hay productos vendidos</div>
                    {% endif %}
                  </div>
    
                </div>
              </div>
            </div>
            <hr>
          </div>  
          <a class="text-dark" style="text-decoration: none;" data-bs-toggle="collapse" href="#contentThisMonth" aria-expanded="false" aria-controls="contentThisMonth">    
            <div class="display-5 mt-3 "> Este Mes </div>
            <div class="h6 mb-3 "><small>({{context.context_this_month.start_date}})~({{context.context_this_month.end_date}})</small></div>
          </a>
          <hr>  
          <div class="collapse" id="contentThisMonth">
            <div class="row cols-1  cols-md-3 justify-content-center">
              <div class="col-5 col-md-3 mb-2">
                <div class="card text-dark bg-light h-100">
                  <div class="card-body"> 
                    <h4 class="card-title h5">Dinero Obtenido</h4>
                    <hr>
                    <p class="card-text h3 text-success ">{{context.context_this_month.total_money}}$</p>
                  </div>
                </div>
    
              </div>
              <div class="col-5 col-md-3 mb-2">
    
                <div class="card text-dark bg-light h-100">
                  <div class="card-body"> 
                    <h4 class="card-title h5">Pago a Trabajador</h4>
                    <hr>
                    <p class="card-text h3 text-success ">{{context.context_this_month.total_worker_profit_money}}$</p>
                  </div>
                </div>
    
              </div>
              {% if user.is_admin %}
                <div class="col-5 col-md-3 mb-2">
                  
                  <div class="card text-dark bg-light h-100">
                    <div class="card-body"> 
                      <h4 class="card-title h5">Ganancia </h4>
                      <hr>
                      <p class="card-text h3 text-success ">{{context.context_this_month.total_profit_money}}$</p>
                    </div>
                  </div>
    
                </div>
              {% endif %}
              <div class="col-12">
                <div class="card text-dark bg-light" style="border-radius: 50px;">
                  <a class="text-dark" style="text-decoration: none;" data-bs-toggle="collapse" href="#contentIdProductMes" aria-expanded="false" aria-controls="contentIdProductMes">
                    <div class="card-body"> 
                      <h4 class="card-title h5">Productos Vendidos</h4>
                    </div>
                  </a>
                  <div class="collapse" id="contentIdProductMes">
                    {% if context.context_this_month.products %}
                      <div class="table-responsive-md pb-4">
                        <table class="table table-light">
                          <thead>
                            <tr>
                              <th scope="col">Id</th>
                              <th scope="col">Producto</th>
                              <th scope="col">Cantidad</th>
                              <th scope="col">Importe</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for product in context.context_this_month.products.values %}
                              <tr class="">
                                <td scope="row">{{product.i_d}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.lot}} {% if product.Refund %}<span class="text-danger">-R</span>{% endif %} </td>
                                <td>{{product.money}}$ {% if product.Refund %}<span class="text-danger">-R</span>{% endif %}</td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                  {% else %}
                    <div class="h2">No hay productos vendidos</div>
                  {% endif %}
                  </div>
    
                </div>
              </div>
            </div>
            <hr>  
          </div>
        {% endif %}
      
        <a  class="btn btn-primary m-3 p-3" href="{% url 'resumen' %}" role="button"><span class="h3">Ver Resumen Completo</span></a>
      </div>
      



      
    </div>
  {% endif %}

  
{% endblock  %}