{% extends 'Base.html' %}
{% load static %}
{% block contenido %}
    {% if user.is_authenticated %}
        <div class="container">
            {% if user.is_authenticated and "Admin" in Groups %}
                <div class="container my-4"style="text-align: center;">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#CrearModal" data-bs-whatever="@mdo">Crear Producto</button>      
                    </div>
                </div>
                
                {% comment %}MODAL CreateProduct{% endcomment %}
                <div class="modal fade" data-bs-backdrop="static" id="CrearModal" tabindex="-1" aria-labelledby="CrearModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="CrearModalLabel">Nuevo Producto</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="" enctype=multipart/form-data>
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" maxlength="30" required name="name" id="floatingInput" placeholder="Nombre">
                                            <label for="floatingInput">Nombre</label>
                                        </div>
                                        <fieldset class="border p-2 m-1">
                                            <legend  class="float-none w-auto">Venta</legend> 
                                            <div class="form-check">
                                                <input class="form-check-input" value="0" onclick="VentasParesFunction(false)" checked type="radio" name="VentasPares">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                Venta por Unidad
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" value="1" onclick="VentasParesFunction(true)" type="radio" name="VentasPares" >
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                Venta Por Pares
                                                </label>
                                            </div>
                                        </fieldset>
                                        <div style="display: none;" id="ParesDivId">

                                            <fieldset class="border p-2 m-1">
                                            <legend  class="float-none w-auto">Por Pares</legend> 
                                        
                                                <div class="form-floating mb-3">
                                                    <input min="1" type="number"  class="form-control"  name="precio pares"id="ParesPrecio" placeholder="Precio">
                                                    <label for="floatingInput">Precio por Par </label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input min="1" type="number"  class="form-control"  name="ganancia pares" id="ParesGanancia" placeholder="Ganancia por Venta">
                                                    <label for="floatingInput">Ganancia por Par para Trabajador</label>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <fieldset class="border p-2 m-1">
                                            <legend  class="float-none w-auto">Por Unidad</legend>    
                                            <div class="form-floating mb-3">
                                                <input min="1" type="number"  class="form-control" required name="precio unitario"id="floatingInput" placeholder="Precio">
                                                <label for="floatingInput">Precio por Unidad </label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input min="1" type="number"  class="form-control" required name="ganancia unitaria" id="floatingInput" placeholder="Ganancia por Venta">
                                                <label for="floatingInput">Ganancia por Unidad para Trabajador</label>
                                            </div>
                                        </fieldset>
                                        
                                        <div class="form-floating mb-3">
                                            <textarea  type="text" class="form-control" maxlength="100" name="descripcion" id="floatingInput" placeholder="Descripcion"  style="height: 100px;"></textarea >
                                            <label for="floatingInput">Descripcion</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <div class="row m-2">
                                                Imagen
                                            </div>
                                            <div class="row">
                                                <div class="col-9" id="ImgDiv">
                                                    <div id="divid">
                                                        <input onchange="PrevImg()" type="file"  class="form-control " name="imagen" id="inputImgPre" placeholder="Imagen">
                                                    </div>
                                                </div> 
                                                <div class="col-3">
                                                    <a style="display: none;" class="btn btn-danger" id="ButtonImgPree" onClick="RemImg()">Eliminar </a>
                                                </div>    
                                            </div>
                                            <div class="d-flex justify-content-center m-3">
                                                <img id="imgPre" src="" alt=" ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <input class="btn btn-success" type="submit" name="CrearProducto" value="Crear">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if  products %}
                <div class="continer pt-4 m-2">
                    <div class="row cols-1 cols-md-2 cols-lg-3 cols-xl-4"> 
                        <div class="card-group">
                            {% for product in products %}
                                <div class="col-11 col-md-5 col-lg-4 col-xl-3 mb-5">
                                    <div class="card h-100 m-1 p-3  ">
                                        <a class="link-light h4 card-title" style=" text-decoration: none;" {% if user.is_authenticated %} href="{% url 'producto' product.id %}" {% endif %}>
                                            <span class="badge bg-secondary w-100 ">
                                                {{product.name}}
                                            </span>
                                        </a>
                                        <div class="row cols-2 align-items-start justify-content-around">
                                            <div class="col-4 gx-2 ">
                                                <img src="{{product.image.url}}" class="img-fluid img-thumbnail border border-0" alt="...">
                                            </div>
                                            <div class="col-6">
                                                <div class="row">
                                                    {% if product.pair %}
                                                        {% if product.pair_stored != 0 %}
                                                            <div class="text-dark text-center h3 p-1 mt-3 border-top border-bottom border-dark">
                                                                {{product.pair_stored}}
                                                                <span>
                                                                    <small class="h6 text-muted pl-2">
                                                                        Pares
                                                                    </small>
                                                                </span>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if product.unit_stored != 0 %}
                                                        <div class="text-dark text-center h3 p-1 mt-3 border-top border-bottom border-dark">
                                                            {{product.unit_stored}} 
                                                            <span>
                                                                <small class="h6 text-muted pl-2">
                                                                    Unidades
                                                                </small>
                                                            </span>
                                                        </div>
                                                    {% endif %}
                                                    {% if product.pair and product.pair_stored == 0 and product.unit_stored == 0 or not product.pair and product.unit_stored == 0 %}
                                                        <div class="border border-danger p-2 mt-3 text-center text-danger h5">
                                                            AGOTADO
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}  
                        </div>    
                    </div>
                </div>
            {% else %}
            <div class="text-bg-dark p-5 m-5  d-flex justify-content-center"><h2>No hay productos creados para mostrar<h2></div>
            {% endif %}
        </div>

    {% else %}
        <meta http-equiv="Refresh" content="0; url='{% url 'home' %}'" />
    {% endif %}
    
{% endblock  %}