
{% if not context.no_movements %}
    {% if context.workers %}
        <div class="container">
            
            <div class="display-4 text-center">{% if context.week %}{{context.week}}<br>{% endif %}{{context.start_date}}{% if context.end_date %} ~ {{context.end_date}}{% endif %}</div>
            <div class="row justify-content-center text-center">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-dark  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Info</th>
                                    <th scope="col">Prod</th>
                                    <th scope="col">Cant</th>
                                    <th scope="col">Trab</th>
                                    <th scope="col">Ganc</th>
                                    <th scope="col">Impt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-active">
                                    <td scope="row">Ventas</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for worker_name,worker_dict in context.workers.items %}
                                
                                <tr class="table-secondary">
                                    <td scope="row">{{worker_name}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for product in worker_dict.values %}
                                    <tr class="table-success">
                                        <td scope="row"></td>
                                        <td>{{product.i_d}}</td>
                                        <td>{{product.lot}}</td>
                                        <td>{{product.profit_worker}}$</td>
                                        <td>{{product.profit}}$</td>
                                        <td>{{product.money}}$</td>
                                    </tr>
                                {% endfor %}

                                {% endfor %}
                                <tr class="table-secondary">
                                    <td scope="row">Total Ventas</td>
                                    <td></td>
                                    <td>{{context.total_lot}}</td>
                                    <td>{{context.total_worker_profit_money}}$</td>
                                    <td>{{context.total_profit_money}}$</td>
                                    <td>{{context.total_money}}$</td>
                                </tr>
                                {% if context.refunds %}
                                    <tr class="table-active">
                                        <td scope="row">Reembolsos</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="table-danger">
                                        <td scope="row"></td>
                                        <td></td>
                                        <td>{{context.total_lot_refunds}}</td>
                                        <td>{{context.refunds.total_worker_profit_money}}$</td>
                                        <td>{{context.refunds.total_profit_money}}$</td>
                                        <td>{{context.refunds.total_money}}$</td>
                                    </tr>    
                                {% endif %}
                                {% if context.retires %}
                                    <tr class="table-active">
                                        <td scope="row">Retiro de Dinero</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="table-warning">
                                        <td scope="row"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{context.retires.total_money}}$</td>
                                    </tr>    
                                {% endif %}
                                {% if context.agregates %}
                                    <tr class="table-active">
                                        <td scope="row">Agregado de Dinero</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="table-warning">
                                        <td scope="row"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{context.agregates.total_money}}$</td>
                                    </tr>    
                                {% endif %}
                                
                                <tr class="table-active">
                                    <td scope="row">Total Final</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{context.total_total_worker_profit_money}}$</td>
                                    <td>{{context.total_total_profit_money}}$</td>
                                    <td>{{context.total_total_money}}$</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
        <div class="container text-center">
            <div class="h1">Sin Informacion</div>
        </div>
{% endif %}

