{% extends 'Base.html' %}
{% load static %}
{% block contenido %}
{% if  user.is_admin %}

  <div class="container ">
    {% if context.context_global.SumaryDate == True %}
      <div class="container-md p-3">
        <div class="row row-cols-1 justify-content-center ">
          <div class="col-12 text-center">
            <div class="alert {% if context.context_this_month.OK == True and context.context_this_month.days_ok.days == 0 %}alert-success{% elif context.context_this_month.OK == True %}alert-info {% else %}alert-danger {% endif %} " role="alert">
              
              {% if context.context_this_month.OK == True %}
                  <div class="alert-heading"><span class="h5">Proximo Cierre de Mes</span> </div>
                  <hr>                 
                  {% if context.context_this_month.days_ok.days > 0 %}
                    <p class="mb-0 h5">
                      {{context.context_this_month.days_ok.days}} Dias
                    </p>
                  {% else %}
                    <p class="mb-0 h5">
                      Hoy
                    </p>
                  {% endif %}      
              {% else %}  
                <div class="alert-heading"><span class="h5">Retraso del Cierre de Mes</span> </div>
                <hr>  
                <p class="mb-0 h5">
                  {{context.context_this_month.days_ok.days}} Dias
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      
    {% endif %}
    <div class="row justify-content-end align-items-center text-center " >
      <div class="col-5 col-md-2">
        <div class="card bg-warning text-dark " style="border-radius: 30px;" >
          <div class="card-body w-auto">
            <h4 class="card-title h5">Dinero en Caja</h4>
            <div class="row"></div>
            <p class="card-text  text-success h3">{{global_context.registe_cash.money}}$</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-md-cols-3 m-3 justify-content-center justify-content-md-between align-items-center text-center">
      <div class="col-auto my-2">
        <div class="row justify-content-center">
          <div class="col-auto">
            <div class="card text-dark bg-light" onclick="FilterResumeFunct(1,'{{context.context_today.today_w_f}}')">
              <div class="card-body">
                <h4 class="card-title">Hoy</h4>
                <hr>
                <div class="card-text h5">{{context.context_today.today}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if context.context_global.SumaryDate == True %}
        <div class="col-auto my-2">
          <div class="row justify-content-center">
            <div class="col-auto">
              <div class="card text-dark bg-light" onclick="FilterResumeFunct(2,false,{{context.context_this_week.this_week}})">
                <div class="card-body">
                  <h4 class="card-title">
                    Esta Semana
                    <span class="h6"><small>{{context.context_this_week.this_week}}/{{context.context_this_week.total_weeks}}</small></span>
                  </h4>
                  <hr>
                  <div class="card-text h5">{{context.context_this_week.start_date}} ~ {{context.context_this_week.end_date}} </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto my-2">
          <div class="row justify-content-center">
            <div class="col-auto">
              <div class="card text-dark bg-light"onclick="FilterResumeFunct(3,false,false,'{{context.context_this_month.start_date_w_f}}','{{context.context_today.today_w_f}}')">
                <div class="card-body">
                  <h4 class="card-title">Este Mes</h4>
                  <hr>
                  <div class="card-text h5">{{context.context_this_month.start_date}} ~ {{context.context_this_month.end_date}}</div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      {% else %}
      <div class="col-auto my-2">
        <div class="row justify-content-center">
          <div class="col-auto">
            <div class="card text-dark bg-light">
              <div class="card-body">
                <h4 class="card-title"><span class="h5">No se ha Establecido el Intervalo para Realizar el Resumen</span> </h4>
                <hr>
            </div>
          </div>
        </div>
      </div>
      
      {% endif %}
    </div>
    {% comment %} Filtro {% endcomment %}
    <div class="row justify-content-center text-start align-items-center g-2">
      <div class="col-auto">
        <div class="card">
          <div class="card-body">
            <div class="row text-center" >
              <h4 class="card-title">Solicitar Resumen</h4>
            </div>
            <div class="row justify-content-center text-center align-items-center">
              <div class="col-12">
                <div class="row justify-content-center text-start align-items-center">
                  <div class="col-4">
                    <input onClick="FilterResumeFunct()" id="FilterResumeDay" type="radio" checked name="FilterResume" value="1">
                    <label for="FilterResumeDay" class="h6">Dia</label>
                    <br>
                    <input onClick="FilterResumeFunct()" id="FilterResumeWeek" type="radio" name="FilterResume" value="2">
                    <label for="FilterResumeWeek" class="h6">Semana</label>
                    <br>
                    <input onClick="FilterResumeFunct()" id="FilterResumeMonth" type="radio" name="FilterResume" value="3">
                    <label for="FilterResumeMonth" class="h6">Mes</label>
                  </div>
                </div>
              </div>
              <div class="col-12 m-2">
                <div id="DivIDDay">
                  <div class="h5 my-2">Dia:</div>
                  <input type="date" value="{{context.context_today.today_w_f}}"name="DateDay" id="date_day">
                </div>
                <div id="DivIDWeek" style="display: none;">
                  <div class="row justify-content-center">
                    <div class="col-auto">
                      <div class="h5 my-2">Semana:</div>
                      <div class="form-floating mb-3">
                        <input type="number" value="{{context.context_this_week.this_week}}" name="WeekResumeInput"class="form-control" maxlength="4" id="week_resume_input" placeholder="Numero de Semana">
                        <label for="week_month">Numero de Semana</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="DivIDMonth" style="display: none;">
                  <div class="h5 my-2">Desde:</div>
                  <input type="date" value="{{context.context_this_month.start_date_w_f}}" name="DateMonthStart" id="date_month_start_date">
                  <br>
                  <div class="h5 my-2">Hasta:</div>
                  <input type="date" value="{{context.context_today.today_w_f}}"name="DateMonthEnd" id="date_month_end_date">
                </div>
              </div>  
              <div class="col-12 m-2">
                <div class="row  justify-content-center">
                  <div class="col-auto">
                    <a name="" id="" class="btn btn-primary" onclick="SolicResumInfo('{% url 'base_post' %}')" role="button">Solicitar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card text-center my-3" id="card_resumeInfo" >
      <div class="card-body">
        <div class="" id="idSpinerResume" style="display: none;">
          <div class="m-3 row justify-content-center">
            <div class="col-auto d-flex justify-content-start align-items-start">
              <div class="spinner-border text-primary spinner-border-md"role="status"> </div>
            </div>
          </div>
          <div class="m-2 row text-center">
            <div class="h3">
              Solicitando Informacion 
            </div>
          </div>
        </div>
        <div class=""id="idInfoResume">
          <div class="row justify-content-center text-center">
            <div class="col-auto">
              <div class="h3">
                No se ha Solicitado Informacion de Resumen
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  {% if context.context_global.SumaryDate == True %}
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-auto">
          <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modalCloseMonth">
            Hacer Cierre de Mes
          </button>
        </div>
      </div>
    </div>
    {% comment %} ========================MODAL=========================== {% endcomment %}
    <div class="modal fade" id="modalCloseMonth" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="" method="post">
            {% csrf_token %}  
            {{context}}
            <div class="modal-header">
              <h4 class="modal-title" id="modalTitleId">Cierre</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% if context.context_this_month.OK == True and context.context_this_month.days_ok.days != 0 %}
                <div class="row" id="DivIdRowOKNo0">
                  <div class="col-auto">
                    <div class="h5 text-danger text-center">
                      Aun Quedan {{context.context_this_month.days_ok.days}} Dias para Llegar al Fin del Mes
                    </div>
                  </div>
                </div>
              {% endif %}
              <div class="row d-none" id="DivOdRowNoOk0">
                <div class="col-12 text-start">
                  {% if context.context_this_month.OK == True and context.context_this_month.days_ok.days != 0 %}
                    <div class="h4 text-danger">
                      Cierre de Mes<span class="h6 mx-2"><small>{{context.context_this_month.days_ok.days}} Dias</small></span> 
                    </div>
                  {% elif context.context_this_month.OK == False %}
                    <div class="h4 text-warning">
                      Cierre de Mes <span class="h6 mx-2"><small>{{context.context_this_month.days_ok.days}} Dias</small></span> 
                    </div>
                  {% else %}
                    <div class="h4 text-success">
                      Cierre de Mes 
                    </div>
                  {% endif %}
                </div>
                <div class="row justify-content-center">
                  <div class="h4 text-center">
                    Total Dinero en Caja: <span class="text-success h4">{{global_context.registe_cash.money}}$</span> 
                  </div>
                  <div class="h4 m-3">
                    Este Mes:
                  </div>
                  
                  <div class="col-auto">
                    <div class="h5">Retirar antes de Cerrar</div>
                    <div class="form-floating mb-3">
                      <input oninput="CalcMoneyNextonth({{global_context.registe_cash.money}})" type="number" value="0" name="RetireMoneyCloseMonth"class="form-control" id="retire_money_close_month" placeholder="Retirar Dinero">
                      <label for="retire_money_close_month">Retirar Dinero</label>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="h4 m-3">
                    Siguiente Mes:
                  </div>
                  <div class="h5 text-center">Inico: <span class="text-dark h5" id="NextMonthInitColor"><span  id="NextMonthInit"></span>$</span></div>
                  
                  <div class="col-auto">
                    <div class="h5">Desde</div>
                    <input type="date" name="NextDateStart"  value={{context.context_this_month.next_start_date}} required>
                  </div>
                  <div class="col-auto">
                    <div class="h5">Hasta</div>
                    <input type="date" name="NextDateEnd"  value={{context.context_this_month.next_end_date}} required>
                  </div>
                </div>
              </div>
              <div class="form-floating mb-3">
                <textarea  type="text" class="form-control" maxlength="100" name="nota" id="floatingInput" placeholder="Nota Adicional"  style="height: 100px;"></textarea >
                <label for="floatingInput">Nota Adicional</label>
              </div>
            
            </div>
            <div class="modal-footer">
              <div class="row justify-content-between">
                <div class="col-auto">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                <div id="idDivMonthOKNo0" class="col-auto {% if context.context_this_month.OK == True and context.context_this_month.days_ok.days != 0 %}d-block{% else %}d-none{% endif %}">
                  <button onclick="ContiueCloseMoth()" type="button" class="btn btn-danger">Continuar</button>
                </div>
                <div id="idDivMonthNoOK0" class="col-auto {% if context.context_this_month.OK == True and context.context_this_month.days_ok.days != 0 %}d-none{% else %}d-block{% endif %}">
                  <button type="submit" name="CloseMonth" class="btn {% if context.context_this_month.days_ok.days == 0 %}btn-success{% else %}btn-warning{% endif %}">Hacer Cierre</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
  
  
  {% comment %} <div class="continer text-center">
    <div class="display-2 my-2">Hoy</div>
    <div class="row justify-content-center">
      <div class="col-10 col-6-md">
        <div class="card text-center my-2 ">
          <div class="card-body ">
            <div>
              <a style="text-decoration: none;" class="text-dark my-2" data-bs-toggle="collapse" href="#collapseMovementOperaciones" role="button" aria-expanded="false" aria-controls="collapseMovementOperaciones">
                <div class="row justify-content-around align-items-center ">
                  <div class="col-6 h5 m-1">
                    Operaciones:
                  </div>
                  <div class="col-4 h5 m-1">
                    {{context.context_today.movements_count}}
                  </div>
                </div>
              </a>
              
              <div class="collapse" id="collapseMovementOperaciones">
                <div class="card card-body m-1 border border-0 ">
                  <div class="continer text-dark">
                    <div class="row justify-content-center">
                      {% include 'BaseMovementsTable.html' with movements=context.context_today.movements %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <hr>
              <a style="text-decoration: none;" class="text-dark my-2" data-bs-toggle="collapse" href="#collapseMovementTrabajadores" role="button" aria-expanded="false" aria-controls="collapseMovementTrabajadores">
                <div class="row justify-content-around align-items-center">
                  <div class="col-6 h5 m-1">
                    Trabajadores:
                  </div>
                  <div class="col-4 h5  m-1">
                    {{context.context_today.users_count}}
                  </div>
                </div>
              </a>
              <div class="collapse  " id="collapseMovementTrabajadores">
                <div class="card card-body m-1 border border-0">
                  {% for key,value in context.context_today.workers_profit.items %}
                    <div class="row justify-content-around h-5 p-3 border border-2 align-items-center">
                      <div class="col-12 h4">
                        <span><strong> {{key}}</strong></span>
                      </div>
                      <div class="col-6 m-1">
                        Total Dinero Recaudado:
                      </div>
                      <div class="col-4 m-1">
                        {{value.total_sells}}$
                      </div>
                      <div class="col-6 m-1">
                        Total de Ganancia:
                      </div>
                      <div class="col-4 m-1">
                        {{value.total_profit}}$
                      </div>
                    </div>
                     
                  {% endfor %}  
                </div>
              </div>
            </div>
            <div>
              <hr>
              <a style="text-decoration: none;" class="text-dark my-2" data-bs-toggle="collapse" href="#collapseMovementProducts" role="button" aria-expanded="false" aria-controls="collapseMovementProducts">
                <div class="row justify-content-around align-items-center">
                  <div class="col-6 h5 m-1">
                    Productos Vendidos:
                  </div>
                  <div class="col-4 h5  m-1">
                    {{context.context_today.proucts_count}}
                  </div>
                </div>
              </a>
              <div class="collapse  " id="collapseMovementProducts">
                <div class="card card-body m-1 border border-2">
                  <div class="row justify-content-center text-center h3 p-1  align-items-center">
                    <div class="col-10 h3 px-3 mx-2">
                      Productos:
                    </div>
                    {% for product in context.context_today.products.values %}
                      <a class="text-dark " style=" text-decoration: none;"  href="{% url 'producto' product.product__id %}">
                        <div class="row justify-content-center text-center h3  align-items-center">
                          <div class="col-4 h5 border border-2 w-auto py-1 my-1  px-4 mx-2">
                              {{product.product__name}}
                          </div>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row justify-content-around my-2 align-items-center">
              <div class="col-6 h5 m-1">
                Total de Dinero:
              </div>
              <div class="col-4 h5 m-1">
                {{context.context_today.money_sell_profit.total_sells_money}}$
              </div>
             
            </div>
            <hr>
            <div class="row justify-content-around my-2 align-items-center">
              <div class="col-6 h5 m-1">
                Total de Ganancia:
              </div>
              <div class="col-4 h5 m-1">
                {{context.context_today.money_sell_profit.total_money_worker_profit}}$
              </div>
             
            </div>
            <hr>
            <div class="row justify-content-end">
              <div class="card-text h6 p-2"><small>Visitas por QR: {{visits}}</small></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>  {% endcomment %}
{% else %}
  <meta http-equiv="Refresh" content="0; url='{% url 'home' %}'" />
{% endif %}


{% endblock  %}