{% extends 'Base.html' %}
{% load static %}
{% block contenido %}

<div class="container mt-5 ">
    <table class="table table-dark centrado shadow p-3 mb-5 bg-body-tertiary rounded">
        <thead>
          <tr>
            <th scope="col" class="h3">ID</th>
            <th scope="col" class="h3">Name</th>
            <th scope="col" class="h3">Precio</th>
            <th scope="col" class="h3">En Almacen</th>
            <th scope="col" class="h3">Vendidos</th>
          </tr>
        </thead>   
        <tbody>  
            {% for p in TProductos %}
                <tr>
                    <th scope="row">{{p.id}}</th>
                    <td ><a class="link-light" href="{% url 'productos' %}">{{p.name}}</a></td>
                    <td>{{p.precio}}</td>
                    <td>{{p.En_Almacen}}</td>
                    <td>{{p.Vendidos}}</td>
                </tr>
                {% comment %} {{p.imagen.url}}
               <p> <img src="{{p.imagen.url}}" class="img-thumbnail"></p> {% endcomment %}
            {% endfor %}

        </tbody>
      </table>
</div>


{% endblock  %}