{% extends 'Base.html' %}
{% load static %}
{% block contenido %}

  <div class="container">
    {% if not user.is_authenticated %}
        <div class="card text-center m-4">
          <div class="card-body bg-dark text-warning m-3 ">
            <h4 class="card-title">Inicio de Sesion</h4>
            <p class="card-text">No se ha iniciado sesion , puse <span style="border-radius: 60px;" class="badge bg-success p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Ingresar</span> para iniciar la sesion</p>
          </div>
        </div>
    {% endif %}
  </div>
<div class="continer">
    <div class="text-center"> 
      <div class="display-1 m-3 ">Hoy</div>
      <hr></hr>
    </div>
    <div class="row justify-content-around cols-1 cols-md-2 cols-lg-3 cols-xl-3">
      <div class="col-auto mx-5 w-3 txt-center">
        <table class="table table-dark centrado shadow p-3 mb-5 bg-body-tertiary rounded">
          <thead>
            <tr>
                <th scope="col">Productos Agregados</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for product in productsEP %}
              <tr>
                  <td>
                    <a class="link-light h4" style=" text-decoration: none;" {% if user.is_authenticated %} href="{% url 'producto' product.id %}" {% endif %}>
                      <span {% if user.is_authenticated %} class="badge bg-info w-75 text-break" {% endif %}>
                          {{product.name}}
                      </span>
                  </a>
                  </td>
              </tr>
            {% empty %}
              <tr>
                <td>
                  <div class="h3">
                    No hay Productos Agregados Hoy en la Almacen
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-auto mx-5 w-3 txt-center">
        <table class="table table-dark centrado shadow p-3 mb-5 bg-body-tertiary rounded">
            <thead>
            <tr>
                <th scope="col">Productos Vendidos</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
              {% for product in productsVP %}
                <tr>
                    <td>
                      
                      
                      <a class="link-light h4" style=" text-decoration: none;" {% if user.is_authenticated %} href="{% url 'producto' product.id %}" {% endif %}>
                        <span {% if user.is_authenticated %} class="badge bg-success w-75 text-break" {% endif %}>
                            {{product.name}}
                        </span>
                      </a>            
                    </td>
                </tr>
              {% empty %}
                <tr>
                  <td>
                    <div class="h3">
                      No hay Productos Vendidos Hoy en la Almacen
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
      {% if user.is_authenticated %}
        <div class="col-auto mx-5 w-3 txt-center">
          <table class="table table-dark centrado shadow p-3 mb-5 bg-body-tertiary rounded">
              <thead>
                <tr>
                    <th scope="col">Ultimas 5 Transacciones</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                {% for movement in movM %}
                  <tr>
                      <td >
                        <div class="row text-center">
                          <div class="col-6 ">
                            {{movement.get_type_display}}:
                          </div>
                          <div class="col-6">
                            {% if movement.type != "RD" %}
                            <a class="link-light h4" style=" text-decoration: none;" {% if movement.type != "RP" %} href="{% url 'producto' movement.product.id %}"{% endif %} >
                              <span  
                              {% if movement.type == "VP" %}
                                    class="badge bg-success w-75 text-break"
                                {% elif movement.type == "eP" %}
                                    class="badge bg-warning w-75 text-break"
                                {% elif movement.type == "EP" %}
                                    class="badge bg-info w-75 text-break"
                                {% elif movement.type == "rP" %}
                                    class="badge w-75 text-break" style="background-color: orangered; color: white;"
                                {% elif movement.type == "RP" %}
                                    class="badge bg-danger  w-75 text-break"
                                {% elif movement.type == "CP" %}
                                    class="badge bg-primary w-75 text-break"
                                {% else %}
                                    class="badge bg-secondary w-75 text-break"
                                {% endif %}
                                >
                                {% if movement.type == "RP" %}
                                  {{movement.product.description}}  
                                {% else %}
                                  {{movement.product.name}}  
                                {% endif %}
                              </span>
                            </a>
                            {% else %}
                              -
                          {% endif %}
                          </div>
                        </div>
                      </td>   
                  </tr>
                {% empty %}
                  <tr>
                    <td>
                      <div class="h3">
                        No hay Movmimientos Hoy en la Almacen
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      {% endif %}
    </div>
</div> 



{% endblock  %}