{% extends 'Base.html' %}
{% load static %}
{% block contenido %}

    <div class="container-md">
        <div class="container m-4"style="text-align: center;">
            <div class="d-grid gap-2 col-6 mx-auto">
                {% if user.is_authenticated %}
                    <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#CrearModal" data-bs-whatever="@mdo">Crear Producto</button>     
                {% endif %}
            </div>
        </div>
        <div class="modal fade" id="CrearModal" tabindex="-1" aria-labelledby="CrearModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="CrearModalLabel">Nuevo Producto</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="" enctype=multipart/form-data>
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="name" id="floatingInput" placeholder="Nombre">
                                    <label for="floatingInput">Nombre</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input min="1" type="number" class="form-control" name="precio"id="floatingInput" placeholder="Precio">
                                    <label for="floatingInput">Precio</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                    <textarea  type="text" class="form-control" name="descripcion" id="floatingInput" placeholder="Descripcion"  style="height: 100px;"></textarea >
                                    <label for="floatingInput">Descripcion</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                    <input type="file" class="form-control " name="imagen" id="floatingInput" placeholder="Imagen">
                                    <label for="floatingInput">Imagen</label>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <input class="btn btn-success" type="submit" name="CrearProducto" value="Crear">
                            </div>
                        </form>
                        {% comment %} <form method="POST" action="" enctype=multipart/form-data>
                            {% csrf_token %}
                                <table>{{crear_form}}</table>
                                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <input type="submit" value="Crear">
                        </form>  {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        {% if  products %}
            <div class="continer my-2 mx-5 w-3">
                <table class="table table-dark centrado shadow p-3 mb-5 bg-body-tertiary rounded">
                    <thead>
                    <tr>
                        <th scope="col" class="h3">Nombre</th>
                        <th scope="col" class="h3">Precio</th>
                        <th scope="col" class="h3">Almacenado</th>
                        <th scope="col" class="h3">Vendido</th>
                        <th scope="col" class="h3">Descripcion</th>
                    </tr>
                    </thead>   
                    <tbody>  
                        {% for product in products %}
                            <tr>
                            <td >
                                <a class="link-light h4" style=" text-decoration: none;" {% if user.is_authenticated %} href="{% url 'producto' product.id %}" {% endif %}>
                                    <span class="badge bg-secondary w-100">
                                        {{product.name}}
                                    </span>
                                </a>
                            </td>
                            <td>
                                {{product.price}}$
                            </td>
                            <td>
                                {{product.stored}}
                            </td>
                            <td>
                                {% if user.is_authenticated %}
                                    {{product.sold}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if product.description %}
                                    {{product.description}}
                                {% else %}
                                    -
                                {% endif %}
                                
                            </td>
                            </tr>
                        {% endfor %}
        
                    </tbody>
                </table>
            </div>
        {% else %}
        <div class="text-bg-dark p-5 m-5  d-flex justify-content-center"><h2>No hay productos creados para mostrar<h2></div>
        {% endif %}
    </div>
    

{% endblock  %}