{% extends 'Base.html' %}
{% load static %}
{% block contenido %}

    
<div class="container mt-5 ">
    <table class="table table-dark centrado shadow p-3 mb-5 bg-body-tertiary rounded">
        <thead>
          <tr> 
            
            <th scope="col" class="h3">Producto</th>
            <th scope="col" class="h3">Tipo</th>
            <th scope="col" class="h3">Cantidad</th>
            <th scope="col" class="h3">Importe</th>
            <th scope="col" class="h3">Fecha</th>
          </tr>
        </thead>   
        <tbody>  
            {% for m in t_movimientos %}
                <tr>
                    <td >
                        <a style=" text-decoration: none;" class="link-light h4" href="{% url 'producto' m.producto.id %}">
                        {{m.producto.name}}
                        </a>
                    </td>
                    <th scope="row">
                        {{m.get_tipo_display}}
                    </th>
                    
                    <td>
                        {{m.cantidad}}
                    </td>
                    <td>
                        
                        {% if m.tipo == "VP" %}
                            {{m.importe}}$
                        {% else %}
                            -
                        {% endif %}
                            
                    </td>
                    <th scope="row">
                        {{m.fecha}}
                    </th>
                </tr>
            {% endfor %}

        </tbody>
      </table>
</div>
            


{% endblock  %}