.ColorWorker{
    background: rgb(218,11,74);
    background: linear-gradient(304deg, rgba(218,11,74,1) 7%, rgba(65,122,226,1) 56%, rgba(50,72,214,1) 98%); 
}
.ColorNoAuthenticated
{
    background: rgb(218,11,172);
    background: linear-gradient(90deg, rgba(218,11,172,1) 0%, rgba(167,65,226,1) 50%, rgba(66,50,214,1) 100%); 
}
.ColorUser{
    background: rgb(192,218,81);
    background: linear-gradient(90deg, rgba(192,218,81,1) 19%, rgba(145,226,162,1) 53%, rgba(148,191,233,1) 95%); 
}
.ColorAdmin
{
    background: rgb(34,91,195);
    background: linear-gradient(304deg, rgba(34,91,195,1) 0%, rgba(253,45,45,1) 100%); 
}
.ColorSuperUser
{
    background: rgb(200,76,35);
    background: radial-gradient(circle, rgba(200,76,35,1) 0%, rgba(164,30,152,0.8967786943879115) 28%, rgba(124,0,255,1) 100%); 
}
.centrado{
    text-align: center;
    vertical-align: middle;
}
.centrado0{
    align-items: center;

}
.Bord60
{
    border-radius: 60px;
}
.NaRaNjA{
    background-color: orangered;
    color: white;
}
