.ColorWorker{
    background: rgb(132,58,180);
    background: linear-gradient(90deg, rgba(132,58,180,1) 14%, rgba(29,253,228,1) 49%, rgba(69,252,195,1) 100%);  
}
.ColorNoAuthenticated
{
    background: rgb(64,180,58);
    background: linear-gradient(90deg, rgba(64,180,58,1) 18%, rgba(29,253,228,1) 49%, rgba(69,186,252,1) 91%); 
}
.ColorUser{
    background: rgb(192,218,81);
    background: linear-gradient(90deg, rgba(192,218,81,1) 19%, rgba(145,226,162,1) 53%, rgba(148,191,233,1) 95%); 
}
.ColorAdmin
{
    background: rgb(58,91,180);
    background: linear-gradient(90deg, rgba(58,91,180,1) 0%, rgba(29,210,253,1) 50%, rgba(153,252,69,1) 100%); 
}
.ColorSuperUser
{
    background: rgb(200,76,35);
    background: radial-gradient(circle, rgba(200,76,35,1) 0%, rgba(164,30,152,0.8967786943879115) 28%, rgba(124,0,255,1) 100%); 
}
.centrado{
    text-align: center;
    vertical-align: middle;
}
.centrado0{
    align-items: center;

}
.Bord60
{
    border-radius: 60px;
}
.NaRaNjA{
    background-color: orangered;
    color: white;
}
